.card-holder {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;

}
.cards{
  background: slateblue;
}
.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 1024px) {
  .card-holder {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: -4em;
  }
}
@media (max-width: 768px) {
  .card-holder {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: -1em; */
  }
}
@media (max-width: 425px) {
  .card-holder {
    display: grid;
    grid-template-columns: 1fr;
    margin-left: -4em;
  }
  .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}